In [1]:
import pandas as pd
import numpy as np
import os

In [17]:
#Solve the matrix

#since i'm only intereseted in reading and decoding columns i'll read cols only.

#Init cols dict()
cols ={}

#take row and colums of the matrix
rows_count ,cols_count = input().split()

#loop thruogh columns and build rows
for row in range(int(rows_count)):
    cols[row]=list(input())
        
d = pd.DataFrame.from_dict(cols,orient='index')
for col in list(d.columns):
    word = ''.join(d[col].ravel())
    print(re.sub(r'(\w*)\W*(\w*)',r'\1 \2',word), end='\b')

7 3
Tsi
h%x
i #
SM
$a
#t%
ir!

ThiS i s Matr ix  

In [122]:
d

   0  1  2
0  T  s  i
1  h  %  x
2  i     #
3  S  M
4  $  a
5  #  t  %
6  i  r  !

In [97]:
import re
word = "ThiS--i"

re.sub(r'(-)(?=\1)','',word)

'ThiS-i'