In [1]:
import pandas as pd
import numpy as np
import os

In [13]:
data = pd.read_csv('stolen_data.csv',delimiter='|')

In [14]:
data

,Name,Address
0,Bahir Dar Textile,Textile Factory City: Bahir Dar City Kifle Ke...
1,Kebele: -,NaN
2,Direction: Around Papires Hotel Building: ...,NaN
3,Phone: +251-58-2200105 +251-11-5539742\nNyal...,All Life & Non Life Insurance Service Branch: ...
4,Kebele: 05,NaN
...,...,...
626,Kebele: 20/21,NaN
627,Direction: In front of Meskel Adebabay Build...,NaN
628,Fax: +251-11-5159050,NaN
629,P.O.Box 482/1110,NaN
630,Website/Email: bdt'ethionet.et\n,NaN